@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Charlie's Coffee Shop</h1>
    <p class="lead">Charlie's Coffee Shop is a place to grab a cup of Joe and some delightful baked goods!</p>
    <p><a href="/Home/Order" class="btn btn-primary btn-lg">Order Online To Go! &raquo;</a></p>
</div>

<div>
    <p><a href="/Home/UserReg" class="btn btn-primary">New User?</a></p>

</div>

