
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order</h2>
<div class="cart">
    <form>
        Add/Remove items <br />

        Your list of items here. <br />

        Total $<br />

        <input type="submit" label="Checkout" />

    </form>
</div>